@import url(styles.css);
.container{
     position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3% 10%; 
    border-radius: 2%;
    justify-content: center;
    background-color:rgba(255,255,255,0.7);
}

button{
    background-color:rgba(255,255,255,0.8);
}

button:disabled{
    background-color: rgba(255,255,255,0.7);
}

.boxes{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 90vh;
}

.top{
display: flex;
height: 40vh;
align-items: center;
font-size: 3rem;
flex-grow: 1;
}

.middle{
font-size: 2rem;
margin-bottom: 5px;
}

.midButtons{
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}



.bottom{
    display: flex;
    flex-direction: column;
    height: auto;
    width:100%;
    bottom: 0;
}

.playerButton{
    font-size: 2rem;
    padding: 10px;
    border-bottom:1px solid rgba(0, 0, 0, 0.2);
    color: black;
}

@media screen and (max-width: 1200px ) {
   .container{
     position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0; 
    border-radius: 2%;
    justify-content: center;
    background-color:rgba(0,0,0,0);
}
.boxes{
    height: 100vh;;
}
.top{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 230, 0);
}
.middle{
    font-size: 1.4rem;
}
.midButtons{
    font-size: 1.4rem;
    margin: 10px;
    padding: 10px;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
}