@import url(styles.css);
.winScreen{
         position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 3% 10%; 
    border-radius: 2%;
    justify-content: center;
    align-items: center;
    background-color:rgba(255,255,255,0.7);
    height: 90vh;
}
h1{
    position: absolute;
    top:10px;
    font-size: 5rem;
    
}
h3{
    font-size: 2rem;
    margin-bottom: 20px;
}
button{
    font-size: 2rem;
    padding: 10px;
    margin-top: 10px;
    background-color:rgba(255,255,255,0.8);
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
